In [1]:
var1 = 2
type(var1)

int

In [2]:
import sys
sys.getsizeof(var1)

28

In [3]:
3/4

0.75

In [4]:
3//4

0

In [9]:
i = 2
j = 6
k = i + j
print("Sum of {} and {} is: {}".format(i,j,k))
print("Sum of {0} and {1} is: {2}".format(i,j,k))

Sum of 2 and 6 is: 8
Sum of 2 and 6 is: 8

In [10]:
# single line comment
'''
multi-line
comment
'''

'\nmulti-line\ncomment\n'

In [11]:
a,b,c=1,2.3,"text"
x=y=z=9

In [12]:
import math
math.log10(23)

1.3617278360175928

In [4]:
import os
print(os.getcwd())

/Users/kanuamit/Desktop/AnalytixLabs/Data Science using Python

In [21]:
l = [1,2.3,'New York']
print(l)
print(type(l))

[1, 2.3, 'New York']
<class 'list'>

In [22]:
m = ['a','b']
l.insert(1,m)
l

[1, ['a', 'b'], 2.3, 'New York']

In [19]:
l[1][1]

'b'

In [23]:
l.extend([4,5,6])
l

[1, ['a', 'b'], 2.3, 'New York', 4, 5, 6]

In [24]:
l[-2]

5

In [26]:
l[2:6]

[2.3, 'New York', 4, 5]

In [27]:
l[2:6:2]

[2.3, 4]

In [30]:
l[2:]

[2.3, 'New York', 4, 5, 6]

In [31]:
l[::-1]

[6, 5, 4, 'New York', 2.3, ['a', 'b'], 1]

In [32]:
l[6:2:-1]

[6, 5, 4, 'New York']

In [33]:
l[6::-1]

[6, 5, 4, 'New York', 2.3, ['a', 'b'], 1]

In [38]:
lst = list(range(0,100))
lst[::2] # even numbers
100 in lst
len(lst)
max(lst)
min(lst)

99

In [39]:
lst.remove(2) # removes the value
lst.pop(2) # removes the value at the index

3

In [40]:
lst = [1,1,1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [41]:
l1 = [1,2,3,4,5]
s1 = {6,7,8,9,0}
s1.add(l1)

TypeError: unhashable type: 'list'

In [49]:
d = {'amit':[35,'jpmc'],'amit':[36,'jpmc']}
type(d)

dict

In [50]:
d['amit']

[36, 'jpmc']

In [52]:
%time
[i*i for i in range(0,10)]

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.82 µs

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
lst = range(2000,3201)
for i in lst:
    if(i%7 == 0) and (i%5 != 0):
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [63]:
[x for x in range(2000,3201) if (x%7==0) and (x%5!=0)]

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [3]:
student = {'john':{'physics':95,'chemistry':93,'maths':98},'jane':{'physics':99,'chemistry':97,'maths':100},'charles':{'physics':99,'chemistry':99,'maths':99}}
math_highest = 0
total_highest = 0
math_topper = ''
class_topper = ''
for key in student:
    if student[key]['maths']>math_highest:
        math_highest = student[key]['maths']
        math_topper = key
    sum = student[key]['physics'] + student[key]['chemistry'] + student[key]['maths']
    if sum > total_highest:
        total_highest = sum
        class_topper = key
print('Highest score in maths: {}, scored by {}'.format(math_highest,math_topper))
print('Top score: {}, scored by {}'.format(total_highest,class_topper))

#for key in student:
#    if student[key]['maths'] == math_highest:
#        print('{} scored the highest in mathematics: {} marks'.format(key,math_highest))
#    sum = student[key]['physics'] + student[key]['chemistry'] + student[key]['maths']
#    if sum == total_highest:
#        print('{} is the topper: total marks = {}'.format(key,total_highest))

Highest score in maths: 100, scored by jane
Top score: 297, scored by charles